@model MicrodevProject.Models.Employee


@{
    ViewData["Title"] = "حذف کارمند";
}

<h1 class="d-flex justify-content-center">حذف کارمند</h1>
<h3 dir="rtl" class="d-flex justify-content-center">این کارمند  دارای سمت رئیس می باشد.</h3>
<h3 dir="rtl" class="d-flex justify-content-center"> این کارمند قابل حذف نیست.</h3>
<table class="d-flex justify-content-center" dir="rtl">
    <tr>
        <th><h3 class="control-label" dir="rtl"></h3>شماره کارمندی :  </th>
        <th>@Model.EmployeeId</th>
    </tr>
    <tr>
        <th><h3 class="control-label" dir="rtl"></h3>نام و نام خانوادگی :  </th>
        <th>@Model.Name</th>
    </tr>
</table>
<br />
<a asp-action="Index" class="btn btn-info">صفحه اصلی</a>


